#### Why this analysis?

`Some recently watched short documentaries/interviews on human trafficking rackets in India blew my mind off ðŸ¤¯. So, I felt like checking out what the national records have to say about this issue.  
I have compiled this dataset from the National Crime Records Bureau, India and also performed an analysis on the same.  
Here is my report.`

Before we delve into the actual analysis, there are a few concepts that we should be familiar with. There are columns with terms like **`chargesheet`**, **`final report`**, **`chargesheeting rate`** etc.  
I read about these terms and how are they different, how do they work etc. from some blogs. I'm mentioning a gist of these terms below. You may read more about it [here](https://www.lawteacher.net/free-law-essays/administrative-law/concept-of-a-police-report-administrative-law-essay).  
1. There are three different kinds of reports to be made by police officers at three different stages of investigation.
    1. **Preliminary report**, from the Officer In-Charge of a police station to the Magistrate.
    2. **Forwarding report**, from a subordinate police officer to the officer in charge of the station.
    3. **Final report**, of the police officer as soon as investigation is completed to the Magistrate.
2. The police **Charge Sheet** is the complaint of a private individual on which criminal proceedings are initiated. When the charge sheet is sent, the preliminary stage of investigation and preparation is over.
3. The charge sheet is followed by the Final Report. **Final report** records the conclusion arrived at by the Police after the investigation process.  

***So, if Final Report column contains 0, it implies that the investigation is not yet complete.***

#### About the dataset:
All the details about the data can be found [here](https://www.kaggle.com/datasets/cshefali/human-trafficking-in-india-2018-2020) on the dataset page.

In [1]:
#Load all the relevant packages.
library(tidyverse) # metapackage of all tidyverse packages
library(janitor) #for data cleaning.
library(ggplot2) #for data viz
library(readxl) #this package is not part of core tidyverse, so explicitly loaded. The files are in .xlsx format.

â”€â”€ Attaching packages â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse 1.3.1 â”€â”€

âœ” ggplot2 3.3.5     âœ” purrr   0.3.4
âœ” tibble  3.1.5     âœ” dplyr   1.0.7
âœ” tidyr   1.1.4     âœ” stringr 1.4.0
âœ” readr   2.0.2     âœ” forcats 0.5.1

â”€â”€ Conflicts â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse_conflicts() â”€â”€
âœ– dplyr::filter() masks stats::filter()
âœ– dplyr::lag()    masks stats::lag()


Attaching package: â€˜janitorâ€™


The following objects are masked from â€˜package:statsâ€™:

    chisq.test, fisher.test

In [2]:
#Reading all the data files.
#2018
states_data_18 <- read_excel("../input/human-trafficking-in-india-2018-2020/2018_states_data.xlsx")
victims_18 <- read_excel("../input/human-trafficking-in-india-2018-2020/2018_victims_trafficked.xlsx")
rescued_victims_18 <- read_excel("../input/human-trafficking-in-india-2018-2020/2018_victims_rescued.xlsx")
victims_nationality_18 <- read_excel("../input/human-trafficking-in-india-2018-2020/2018_rescued_victims_nationality.xlsx")
culprit_disposal_18 <- read_excel("../input/human-trafficking-in-india-2018-2020/2018_culprits_disposal.xlsx")
cases_disposal_18 <- read_excel("../input/human-trafficking-in-india-2018-2020/2018_police_and_court_disposal_of_cases.xlsx")
purpose_18 <- read_excel("../input/human-trafficking-in-india-2018-2020/2018_human_trafficking_purpose.xlsx")

#2019
states_data_19 <- read_excel("../input/human-trafficking-in-india-2018-2020/2019_states_data.xlsx")
victims_19 <- read_excel("../input/human-trafficking-in-india-2018-2020/2019_victims_trafficked.xlsx")
rescued_victims_19 <- read_excel("../input/human-trafficking-in-india-2018-2020/2019_victims_rescued.xlsx")
victims_nationality_19 <- read_excel("../input/human-trafficking-in-india-2018-2020/2019_victims_rescued_nationality.xlsx")
culprit_disposal_19 <- read_excel("../input/human-trafficking-in-india-2018-2020/2019_culprits_disposal.xlsx")
cases_disposal_19 <- read_excel("../input/human-trafficking-in-india-2018-2020/2019_police_and_court_disposal.xlsx")
purpose_19 <- read_excel("../input/human-trafficking-in-india-2018-2020/2019_trafficking_purpose.xlsx")

#2020
states_data_20 <- read_excel("../input/human-trafficking-in-india-2018-2020/2020_states_data.xlsx")
victims_20 <- read_excel("../input/human-trafficking-in-india-2018-2020/2020_victims_trafficked.xlsx")
rescued_victims_20 <- read_excel("../input/human-trafficking-in-india-2018-2020/2020_victims_rescued.xlsx")
victims_nationality_20 <- read_excel("../input/human-trafficking-in-india-2018-2020/2020_rescued_victims_nationality.xlsx")
culprit_disposal_20 <- read_excel("../input/human-trafficking-in-india-2018-2020/2020_culprits_disposal.xlsx")
cases_disposal_20 <- read_excel("../input/human-trafficking-in-india-2018-2020/2020_case_disposal.xlsx")
purpose_20 <- read_excel("../input/human-trafficking-in-india-2018-2020/2020_trafficking_purpose.xlsx")
aht_units_20 <- read_excel("../input/human-trafficking-in-india-2018-2020/2020_number_of_AHT_Units.xlsx")

In [3]:
head(states_data_18)

  S. No. State/UT          Cases Reported Percentage Share of State (2018)
1 1      Andhra Pradesh    240             9.7
2 2      Arunachal Pradesh   3             0.1
3 3      Assam             262            10.6
4 4      Bihar             127             5.2
5 5      Chhattisgarh       51             2.1
6 6      Goa                55             2.2
  Mid-Year Projected Population (In Lakhs)+ Rate of Cognizable Crimes (IPC)++
1  520.3                                    0.5
2   14.9                                    0.2
3  340.4                                    0.8
4 1183.3                                    0.1
5  284.7                                    0.2
6   15.3                                    3.6
  region type
1 state
2 state
3 state
4 state
5 state
6 state

### Data Cleaning:
#### 1. Cleaning column names
#### 2. Missing values
#### 3. Duplicate rows
#### 4. Inconsistent Data Type of Columns
#### 5. Removal of symbols like '+', '\*' from cell values
#### 6. Joining 2 dataframes into 1

#### 1. Cleaning column names
The following code cleans all the dataframes simultaneously. Some of the components are explained as follows:
1. **c()**- combine function combines all the dataframe names into a vector.
2. Inside the loop:
    1. **i**- contains name of 1st df in 1st iteration, 2nd df in 2nd iteration & so on...
    2. **assign()**- used to assign the 2nd parameter to 1st parameter.
        1. Syntax- assign(variable, value)
        2. Here, first clean_names() is applied to the df & the result is stored in i.
    3. **clean_names()**- this function cleans all the column headers in a file, removing:
        1. white spaces
        2. brackets and other symbols.
        3. converts everything to lowercase.
        4. formats the name of column in snake case, e.g. name_of_person.
    4. **get(i)**- 
        1. takes in the name of one dataframe stored in i.
        2. returns the value present in this dataframe.
        3. clean_names(get(i))- the column headers of this df get cleaned by clean_names().

In [4]:
#cleaning the column headers of all files simultaneously.
#All spaces, symbols, brackets, upper case is removed 
#and column headers are formatted to snake case.
dataframe_names <- c("states_data_18","victims_18","rescued_victims_18","victims_nationality_18",
                    "culprit_disposal_18","cases_disposal_18","purpose_18","states_data_19","victims_19","rescued_victims_19","victims_nationality_19",
                    "culprit_disposal_19","cases_disposal_19","purpose_19","states_data_20","victims_20","rescued_victims_20","victims_nationality_20",
                    "culprit_disposal_20","cases_disposal_20","purpose_20","aht_units_20")
for (i in dataframe_names)
    {assign(i,janitor::clean_names(get(i)))
    }

In [5]:
head(aht_units_20)

  state_ut          no_of_police_districts no_of_anti_human_trafficking_units
1 Andhra Pradesh    13                      3
2 Arunachal Pradesh 26                      8
3 Assam             35                     37
4 Bihar             44                     44
5 Chattisgarh       29                      8
6 Goa                2                      2
  region_type
1 state
2 state
3 state
4 state
5 state
6 state

#### 2. Missing Values & Duplicate Rows

I wanted to see how many missing values & duplicated rows are present in each of the 22 files. So, instead of chekcing them one by one, I did the following:
1. Created an empty dataframe with 3 columns- sheet name, total_na_values, total_duplicated_rows.
    1. sheet_name- this column contains names of all 22 files.
    2. total_na_values- contains total number of missing values in each file.
    3. total_duplicated_rows- contains total number of duplicate rows found in each file.
2. Ran a loop over **`dataframes_names`** which contains names of all sheets.
    1. each iteration works on one file and adds a row to the df_summary dataframe.
    2. **rbind()**- appends rows to a dataframe.
3. **NOTE:**
    1. `colnames(df_summary) <- columns` sets the name of the columns to the ones specified in `columns`. 
    2. ***Why have I written it at the end of this code snippet and not while creating the empty dataframe?***  
        That's because when an empty dataframe is passed to rbind function (in the 1st iteration), rbind overides the empty df and stores the results which changes the column names. So, when I was creating this df, the column names were constantly updating to something else. Hence, i wrote this line of code at the end in order to get the column headers as you are able to see now.

In [6]:
columns <- c("sheet_name","total_na_values","total_duplicate_values")
df_summary <- data.frame(matrix(nrow=0,ncol=length(columns)))#creating an empty dataframe.
for (i in dataframe_names){
    new_row <- c(i,sum(is.na(get(i))),sum(duplicated(get(i))))
    df_summary <- df_summary %>% rbind(new_row)
}
colnames(df_summary) <- columns

In [7]:
df_summary

   sheet_name             total_na_values total_duplicate_values
1  states_data_18         0               0
2  victims_18             0               0
3  rescued_victims_18     0               0
4  victims_nationality_18 0               0
5  culprit_disposal_18    0               0
6  cases_disposal_18      13              0
7  purpose_18             0               0
8  states_data_19         0               0
9  victims_19             0               0
10 rescued_victims_19     0               0
11 victims_nationality_19 0               0
12 culprit_disposal_19    0               0
13 cases_disposal_19      24              0
14 purpose_19             0               0
15 states_data_20         10              0
16 victims_20             0               0
17 rescued_victims_20     0               0
18 victims_nationality_20 0               0
19 culprit_disposal_20    0               0
20 cases_disposal_20      29              0
21 purpose_20             0               0
22 aht_units_20           0               0

From the summary table, it is clear that missing values are present in 4 files:
1. cases_disposal_18
2. cases_disposal_19
3. cases_disposal_20  
4. states_data_20  
And no duplicate rows were found in any of the files.

Some of the files have 1st column named as **`states`** and other files have 1st column named as **`states_ut`**. This column gives the names of all states and union territories in India.
Hence, the following code renames this column of all the files as **`state_ut`** to bring uniformity.

In [8]:
#removing the s_no column & chargesheeting_rate from states_data_18 to bring uniformity. 
#None of the other files have this col.
states_data_18 <- states_data_18 %>% select(-s_no)

In [9]:
#renaming the column names of all 22 files to bring uniformity
for (i in dataframe_names) {
    assign(i,rename(get(i),states_ut=colnames(get(i))[1]))
}

#### 3. Inconsistent Data Type of Columns

I checked the data type of columns in each file using **str()** and **glimpse()**.  
And the following issues were observed:  
1. **states_data_20**- 2 columns,`total_cases_2018`, `total_cases_2019` are character type instead of numeric.
2. **victims_nationality_18**- `male`,`female`,`total_rescued` are character type instead of numeric.

In [10]:
str(states_data_20)
str(victims_nationality_18)

tibble [36 Ã— 8] (S3: tbl_df/tbl/data.frame)
 $ states_ut                             : chr [1:36] "Andhra Pradesh" "Arunachal Pradesh" "Assam" "Bihar" ...
 $ total_cases_2018                      : chr [1:36] "240" "3" "308" "127" ...
 $ total_cases_2019                      : chr [1:36] "245" "0" "201" "106" ...
 $ total_cases_2020                      : num [1:36] 171 2 124 75 38 17 13 14 4 140 ...
 $ mid_year_projected_population_in_lakhs: num [1:36] 526 15.2 347.9 1219 292.4 ...
 $ rate_of_cognizable_crimes_ipc         : num [1:36] 0.3251 0.1314 0.3564 0.0615 0.13 ...
 $ chargesheeting_rate                   : num [1:36] 99.2 100 69 93.4 77.4 ...
 $ region_type                           : chr [1:36] "state" "state" "state" "state" ...
tibble [144 Ã— 6] (S3: tbl_df/tbl/data.frame)
 $ states_ut            : chr [1:144] "Andhra Pradesh" "Arunachal Pradesh" "Assam" "Bihar" ...
 $ male                 : chr [1:144] "1" "4" "29" "466" ...
 $ female               : chr [1:144] "452" "0" "237" "80" ...
 $ total_victims_rescued: chr [1:144] "453" "4" "266" "546" ...
 $ nationality          : chr [1:144] "India" "India" "India" "India" ...
 $ region_type          : chr [1:144] "state" "state" "state" "state" ...

Few other observations in the data:
1. In some dataframes, the **`state_ut`** column contains '@', '+','\*' and other such symbols alongside the names of states and Union Territories. These symbols have to be omitted. e.g. **"Bihar\@"**
2. Some columns with numeric data contain symbols like '+','\*','++' etc. These symbols need to be omitted. e.g. **"24\+"**, **"7\*"**
3. **An Important Observation:**
    1. In the dataframe `states_data_20`, 2 columns`total_cases_2018`, `total_cases_2019` are character type instead of numeric. 
    2. And some values in these columns have a '+' sign, for e.g. total_cases_2019 for one state is "54+".
    3. So, before converting these cols to numeric type, these symbols need to be removed. Otherwise the as.numeric() function will convert the cell value to NA. 
    4. Hence, I have first removed all such symbols in the files and then converted the data type of inconsistent columns to numeric.

In [11]:
colnames(states_data_18)

[1] "states_ut"
[2] "cases_reported"
[3] "percentage_share_of_state_2018"
[4] "mid_year_projected_population_in_lakhs"
[5] "rate_of_cognizable_crimes_ipc"
[6] "region_type"

In [12]:
View(states_data_20)

   states_ut              total_cases_2018 total_cases_2019 total_cases_2020
1  Andhra Pradesh         240              245              171
2  Arunachal Pradesh      3                0                  2
3  Assam                  308              201              124
4  Bihar                  127              106               75
5  Chhattisgarh           51               50                38
6  Goa                    55               38                17
7  Gujarat                13               11                13
8  Haryana                34               15                14
9  Himachal Pradesh       6                11                 4
10 Jharkhand              140              177              140
11 Karnataka              27               32                13
12 Kerala                 105              180              166
13 Madhya Pradesh         63               73                80
14 Maharashtra            311              282              184
15 Manipur                3                9                  6
16 Meghalaya              24               22                 1
17 Mizoram                2                7                  0
18 Nagaland               0                3                  0
19 Odisha                 75               147              103
20 Punjab                 17               19                17
21 Rajasthan              86               141              128
22 Sikkim                 1                0                  1
23 Tamil Nadu             8                16                11
24 Telangana              242              137              184
25 Tripura                2                1                  1
26 Uttar Pradesh          35               48                90
27 Uttarakhand            29               20                 9
28 West Bengal            172              120               59
29 A & N Islands          0                0                  0
30 Chandigarh             0                2                  2
31 DNH  and  Daman & Diu@ 0+               0+                 2
32 Delhi UT               98               93                53
33 Jammu & Kashmir        1                0                  2
34 Ladakh @               NA               NA                 0
35 Lakshadweep            0                0                  0
36 Puducherry             0                2                  4
   mid_year_projected_population_in_lakhs rate_of_cognizable_crimes_ipc
1   525.99                                0.32510124
2    15.22                                0.13140604
3   347.93                                0.35639353
4  1218.95                                0.06152836
5   292.37                                0.12997230
6    15.53                                1.09465551
7   691.71                                0.01879400
8   292.13                                0.04792387
9    73.62                                0.05433306
10  381.15                                0.36730946
11  664.96                                0.01955005
12  353.68                                0.46935083
13  837.55                                0.09551669
14 1236.76                                0.14877583
15   31.42                                0.19096117
16   32.64                                0.03063725
17   12.07                                0.00000000
18   21.77                                0.00000000
19  454.65                                0.22654789
20  301.79                                0.05633056
21  786.09                                0.16283123
22    6.72                                0.14880952
23  761.67                                0.01444195
24  375.36                                0.49019608
25   40.42                                0.02474023
26 2289.31                                0.03931316
27  113.13                                0.07955449
28  977.19                                0.06037720
29    3.99                                0.00000000
30   11.98                                0.16694491
31   10.38                                0.19267823
32  203.19                                0.26083961
33  133.40                                0.01499250
34    2.96                                        NA
35    0.68                                0.00000000
36   15.49                                0.25823112
   chargesheeting_rate region_type
1   99.18033           state
2  100.00000           state
3   69.00000           state
4   93.44262           state
5   77.41935           state
6   95.23810           state
7   90.90909           state
8   66.66667           state
9   50.00000           state
10  59.78261           state
11  95.23810           state
12  93.29897           state
13  97.26027           state
14  99.40476           state
15        NA           state
16        NA           state
17        NA           state
18 100.00000           state
19  85.29412           state
20  80.00000           state
21  98.26087           state
22        NA           state
23 100.00000           state
24  98.41270           state
25 100.00000           state
26 100.00000           state
27  86.66667           state
28  57.44681           state
29 100.00000           union territory
30 100.00000           union territory
31 100.00000           union territory
32  67.50000           union territory
33 100.00000           union territory
34        NA           union territory
35        NA           union territory
36        NA           union territory

In [13]:
#removing symbols from states_data_20 dataframe
states_data_20 <- states_data_20 %>%
                    mutate(states_ut = gsub("@","",states_ut),
                          total_cases_2018 = gsub("\\+","",total_cases_2018),
                          total_cases_2019 = gsub("\\+","",total_cases_2019))

In [14]:
#changing the data type of inconsistent columns from character to numeric
states_data_20 <- states_data_20 %>%
                    mutate(total_cases_2018 = as.numeric(total_cases_2018),
                           total_cases_2019 = as.numeric(total_cases_2019))

In [15]:
victims_nationality_18 <- victims_nationality_18 %>%
                    mutate(male = as.numeric(male),
                          female = as.numeric(female),
                          total_victims_rescued = as.numeric(total_victims_rescued))

Warning message in mask$eval_all_mutate(quo):
â€œNAs introduced by coercionâ€
Warning message in mask$eval_all_mutate(quo):
â€œNAs introduced by coercionâ€
Warning message in mask$eval_all_mutate(quo):
â€œNAs introduced by coercionâ€

##### About Missing values:  
1. **states_data_20**-  
    1. missing values are present in the column `chargesheeting rate`. I won't be using this column and it is not present in the states_data file of 2018, 2019.
    2. NA values are also present in the Ladhak row. That's because the combined data of Jammu & Kashmir and Ladhak are present in the Jammu & Kashmir row. Hence, these NA values can be ignored.
2.

In [16]:
#removing chargesheeting_rate column from states_data_20 file.
states_data_20 <- states_data_20 %>% select(-chargesheeting_rate)

In the case disposal files:
1. **`case conviction rate`** column contains maximum NA values. That's because conviction rate is calculated as:
**`case conviction rate = (cases convicted by court/cases with complete trails)* 100`**  
And many rows have 0 cases with complete trials, hence NA values in case conviction rate.  
2. **`chargesheeting rate`** column also has NA values. That's because chargesheeting rate has been calculated as:
**`(cases chargesheeted/(cases chargesheeted + cases with complete trials)) * 100`**  
And if the rate is NA, it means that:  
1. either no trafficking cases were reported OR
2. no chargesheet was filed for reported cases.

#### Analysis